<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=2f96c5cb-5270-45d1-bdbd-fa11940ac000&lang=ru_RU" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.option.title}}</title>
</head>
<body>
  {{> "./src/templates/map.hbs"}}
</body>
</html>
